.dropdown {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  z-index: 9999;
}

.dropdown.success {
  background-color: green;
}

.dropdown.error {
  background-color: red;
}

.dropdown-enter {
  opacity: 0;
  transform: scale(0.9);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
  opacity: 1;
}

.dropdown-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}