.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button.primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.button.secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.button.success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.button.danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.button.warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.button.info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.button:hover {
  color: #fff;
  text-decoration: none;
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}