.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 220px;
  margin-top: -8px;
}

.add-device-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-device-icon {
  font-size: 3rem;
  color: white;
  background-color: green;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.add-device-icon:hover {
  transform: scale(1.1);
}

.no-device-message {
  font-size: 1.5em;
  color: #333;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}