.device-container {
  display: flex;
  margin-left: 220px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  max-width: 80%;
}

.device-content {
  padding: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
}