.edit-device-container {
  display: flex;
  margin-left: 220px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  max-width: 80%;
}

.edit-device-content {
  padding: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: .5rem;
}

.form-input {
  width: 500px;
  padding: .5rem;
  border: 1px solid #ccc;
  max-width: 500px;
  border-radius: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
}