.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.login-card form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.register-option {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.register-button {
  border: none;
  background: none;
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

.register-button:active {
  color: darkgray;
}