.confirm-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirm-dialog-box {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.confirm-dialog-title {
  margin: 0;
}

.confirm-dialog-message {
  margin: 20px 0;
}

.confirm-dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-dialog-cancel,
.confirm-dialog-confirm {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-dialog-cancel {
  background-color: #cccccc;
}

.confirm-dialog-confirm {
  background-color: #007bff;
  color: #ffffff;
}