.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  position: fixed;
}

.menu-item {
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.menu-item:hover {
  background-color: #ddd;
}