.card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.card h2 {
  text-transform: uppercase;
}

.card:hover {
  transform: scale(1.02);
}

.card-content {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}